@use "./variables"as *;

header {
    background-color: $secondary-color;
    display: none;
}

.intro {
    height: 516px;
    padding: 20px;

    &__greeting {
        font-size: 16px;
        padding: 30px 0;
    }

    &__image {
        width: 20px;
        padding-right: 5px;

        &--large {
            display: none;
        }
    }

    &__statement {
        font-size: 48px;
    }
}

.about {
    padding: 20px;
    color: $secondary-color;

    &__description {
        font-size: 16px;
        line-height: 2;
        width: 100%;
        padding: 10px;
    }

    &__image {
        height: 30em;
        width: auto;
    }

    &__grid {
        display: grid;
        grid-template-areas:
            'heading'
            'image'
            'paragraph1'
            'paragraph2';

        &--item1 {
            grid-area: image;
            justify-self: center;
            width: 19rem;
            padding: 20px 0;
        }

        &--item2 {
            grid-area: heading;
            font-size: 32px;
            padding: 20px;
            text-align: center;
        }

        &--item3 {
            grid-area: paragraph1;
        }

        &--item4 {
            grid-area: paragraph2;
        }
    }
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 20px;
    color: $secondary-color;

    &__title {
        padding: 20px;
        font-size: 32px;
        text-align: center;
    }

    &__description {
        padding: 10px;
        line-height: 2;
    }

    &__image {
        width: 3em;
    }

    &__caption {
        width: 100%;
        padding: 10px 0;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
    }

    &__grid {
        display: grid;
        justify-items: center;
        align-items: center;
        padding: 20px;
        gap: 35px;
        grid-template-areas:
            'spring-boot java react'
            'bem scss javascript'
            'css3 html5 git';

        &--item1 {
            grid-area: git;
        }

        &--item2 {
            grid-area: html5;
        }

        &--item3 {
            grid-area: css3;
        }

        &--item4 {
            grid-area: javascript;
        }

        &--item5 {
            grid-area: scss;
        }

        &--item6 {
            grid-area: bem;
        }

        &--item7 {
            grid-area: react;
        }

        &--item8 {
            grid-area: java;
        }

        &--item9 {
            grid-area: spring-boot;
        }
    }
}


.projects {
    color: $secondary-color;

    &__title {
        font-size: 32px;
        padding: 40px;
        text-align: center;

    }

    &__figure {
        width: 95%;
        padding: 20px;
    }

    &__skill {
        padding: 20px 0px 5px 0;
        font-size: 16px;
    }

    &__name {
        padding: 0 0 20px 0;
        font-size: 40px;
    }

    &__description {
        font-size: 16px;
        line-height: 2;
        padding-bottom: 20px;
    }

    &__button {
        display: inline-flex;
        align-items: center;
        justify-content: space-evenly;
        width: 7rem;
        border: 2px solid $secondary-color;
        padding: 10px 10px;
        border-radius: 10px;
        font-size: 14px;
        font-weight: bold;
        color: $secondary-color;
        text-decoration: none;

        &__grid {
            display: grid;
            justify-items: center;
            grid-template-areas:
                'project1'
                'project2'
                'project3'
                'project4'
                'project5'
                'project6';


            &--item1 {
                grid-area: project1;
            }

            &--item2 {
                grid-area: project2;
            }

            &--item3 {
                grid-area: project3;
            }

            &--item4 {
                grid-area: project4;
                display: none;
            }

            &--item5 {
                grid-area: project5;
                display: none;
            }

            &--item6 {
                grid-area: project6;
                display: none;
            }
        }

        &--image {
            height: 21px;
            width: 25%;
        }


    }

}

.footer {
    background-color: $secondary-color;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: $background-color;

    &__image {
        width: 40px;
        height: auto;
        padding: 20px 0;
    }

}

@media screen and (min-width: 768px) {
    .header {
        display: flex;
        height: 100px;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

        &__name {
            font-size: 24px;
            color: $background-color;
        }

        &__nav {
            display: inline-block;
            text-align: right;
        }

        &__link {
            color: $background-color;
            text-decoration: none;
            font-size: 20px;
            padding: 0 10px;

            &--button {
                display: inline;
                font-size: 0.7rem;
                padding: 10px;
                font-weight: bolder;
                border: solid 2px $background-color;
                border-radius: 10px;
                color: $background-color;
            }
        }


    }

    .intro {
        display: flex;
        justify-content:space-around;
        padding: 80px 0;

        &__words {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            padding-left: 40px;

        }

        &__image {
            &--large {
                display: flex;
                align-items: center;
            }
        }
    }

    .about {
        color: $secondary-color;
        padding: 20px 10px;

        &__description {
            text-align: left;
        }

        &__image{
            height: 75%;
            width: 22em;
            padding: 40px;
        }

        &__grid {
            display: grid;
            padding-right: 10px;
            grid-template-columns: 40% 1fr;
            grid-template-areas:
                'image .'
                'image .'
                'image heading'
                'image paragraph1'
                'image paragraph2'
                'image .'
                'image .';

            &--item1 {
                grid-area: image;
                height: 40rem;
                place-self: center;
            }

            &--item2 {
                grid-area: heading;
                text-align: left;
            }

            &--item3 {
                grid-area: paragraph1;
                padding: 20px;
            }

            &--item4 {
                grid-area: paragraph2;
                padding: 20px;
            }
        }
    }

    .skills {
        justify-content: center;
        border: 50px;
        color: $secondary-color;


        &__description {
            padding: 20px 100px;
            text-align: center;

        }

        &__image {
            width: 3rem;
        }


        &__grid {
            justify-content: center;
            grid-template-columns: repeat(5%, 9);
            grid-template-areas:
                'spring-boot java react bem scss javascript css3 html5 git';

        }
    }

    .projects {
        padding: 60px 20px;
        color: $secondary-color;

        &__figure {
            padding: 0;
        }

        &__skill {
            font-size: 15px;
        }

        &__name {
            font-size: 30px;
        }

        &__description{
            font-size: 12px;
        }
        &__button {
            display: inline-flex;
            align-items: center;
            justify-content: space-evenly;
            width: 49%;
        }

        &__grid {
            display: grid;
            gap: 20px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas:
                'project1 project2 project3'
                'project4 project5 project6';
        }
    }

    .footer {
        height: 17vh;
        flex-direction: row;
        align-items: center;

        &__nav {
            text-align: left;
            padding-left: 60px;
        }

        &__email {
            text-align: right;
            padding-right: 60px;
        }
    }

}

@media screen and (min-width: 1024px) {
    .about{
       
        &__description {
            font-size: 20px;
        }
    }

    .skills {
        &__description {
            font-size: 20px;
        }
    }

    .projects {
        &__description {
            font-size: 18px;
        }

        &__button {
            width: 7rem;
        }
    }
}

@media screen and (min-width: 1440px){
    .projects {
        &__button {
            width: 6rem;
        }
    }
}