@use "./variables"as *;

header {
    background-color: $secondary-color;
    display: none;
}

.intro {
    height: 516px;
    padding: 20px;

    &__greeting {
        font-size: 16px;
        padding: 30px 0;
    }

    &__image {
        width: 20px;
        padding-right: 5px;

        &--large {
            display: none;
        }
    }

    &__statement {
        font-size: 48px;
    }
}


.about-grid {
    display: grid;
    grid-template-areas:
        'heading'
        'image'
        'paragraph1'
        'paragraph2';
}


.about-grid1 {
    grid-area: image;
    justify-self:center;
    width: 19rem;
    padding: 20px 0;
}

.about-grid2 {
    grid-area: heading;
    font-size: 32px;
    padding: 20px;
    text-align: center;
}

.about-grid3 {
    grid-area: paragraph1;
}

.about-grid4 {
    grid-area: paragraph2;
}

.about {
    padding: 20px;

    &__description {
        font-size: 16px;
        line-height: 2;
        width: 100%;
        padding: 10px;
    }
}

.skills {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;

    &__title {
        padding: 20px;
        font-size: 32px;
        text-align: center;
    }

    &__description {
        padding: 20px;
        line-height: 2;
    }

    &__image {
        width: 3em;
    }

    &__caption {
        width: 100%;
        padding: 10px 0;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
    }
}

.grid-container {
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 20px;
    gap: 35px;
    grid-template-areas:
        'spring-boot java react'
        'bem scss javascript'
        'css3 html5 git';

}

.grid-item1 {
    grid-area: git;
}

.grid-item2 {
    grid-area: html5;
}

.grid-item3 {
    grid-area: css3;
}

.grid-item4 {
    grid-area: javascript;
}

.grid-item5 {
    grid-area: scss;
}

.grid-item6 {
    grid-area: bem;
}

.grid-item7 {
    grid-area: react;
}

.grid-item8 {
    grid-area: java;
}

.grid-item9 {
    grid-area: spring-boot;
}

.grid-container3 {
    display: grid;
    justify-items: center;
    grid-template-areas: 
    'project1'
    'project2'
    'project3';


    .grid3-item1{
        grid-area: project1;
    }

    .grid3-item2{
        grid-area: project2;
    }

    .grid3-item3{
        grid-area: project3;
    }
}

.projects {
    &__title {
        font-size: 32px;
        padding: 40px;
        text-align: center;
        
    }

    &__figure {
        width: 95%;
        padding: 20px;
    }

    &__skill {
        padding: 20px 0px 5px 0;
        font-size: 16px;
    }

    &__name {
        padding: 0 0 20px 0;
        font-size: 40px;
    }

    &__description {
        font-size: 16px;
        line-height: 2;
        padding-bottom: 20px;
    }

    &__button {
        display: inline-flex;
        align-items: center;
        justify-content: space-evenly;
        width: 7rem;
        border: 2px solid $secondary-color;
        padding: 10px 15px;
        border-radius: 10px;
        font-size: 14px;
        font-weight: bold;
        color: $secondary-color;
        text-decoration: none;
       

        &--image {
            height: 21px;
            width: 25%;
        }


    }

}

.footer {
    background-color: $secondary-color;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &__image {
        width: 40px;
        height: auto;
        padding: 20px 0;
    }

    &__email {
        color: $tertiary-color;
    }
}

@media screen and (min-width:768px) {
    .header {
        display: flex;
        height: 100px;
        justify-content: space-between;
        padding: 20px 0;
        color: $tertiary-color;

        &__name {
            font-size: 24px;
            padding: 10px 20px;
        }

        &__nav {
            display: inline-block;
            text-align: right;
            padding: 10px 20px;
        }

        &__link {
            text-decoration: none;
            color: $tertiary-color;
            font-size: 20px;
            padding: 10px;

            &--button {
                font-size: 0.7rem;
                font-weight: bolder;
                border: solid 2px $tertiary-color;
                border-radius: 10px;
                background-color: $tertiary-color;
                color: $secondary-color;
                

            }
        }


    }

    .intro {

        display: flex;
        justify-content: space-between;
        padding: 80px 0 0 0;

        &__words {
            display: flex;
            flex-direction: column;
            padding-left: 40px;

        }

        &__image {
            &--large {
                display: flex;
            }
        }
    }

    .about {
        &__description {
            text-align: left;
        }
    }

    .about-grid{
        display: grid;
        grid-template-columns: 40% 1fr;
        grid-template-areas: 
        'image .'
        'image .'
        'image heading'
        'image paragraph1'
        'image paragraph2'
        'image .'
        'image .';

        .about-grid1 {
            grid-area: image;
            height: 40rem;
            place-self: center;
        }
        
        .about-grid2 {
            grid-area: heading;
            text-align:left;
        }
        
        .about-grid3 {
            grid-area: paragraph1;
        }
        
        .about-grid4 {
            grid-area: paragraph2;
        }
    }


    .grid-container{
        display: flex;
        justify-content: center;
    }

    .skills{
        justify-content: center;
        border: 50px;


        &__description {
            padding: 20px 140px;
            text-align: center;
            
        }

        &__image{
            width: 3rem;
        }
    }

    .projects{
        padding: 60px 10px; 
        
    background-color: $tertiary-color;
    color: $secondary-color;

        &__figure{
            padding: 0;
        }

        &__skill{
            font-size: 15px;
        }

        &__name{
            font-size: 30px;
        }

        &__buttons {
            display: inline;
                                  }

    .grid-container3{
        display: grid;
        gap: 40px 5px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        'project1 project2 project3'
        'project4 project5 project6';
    }

    .grid3-item1{
        grid-area: project1;
    }

   .grid3-item2{
        grid-area: project2;
    }

    .grid3-item3{
        grid-area: project3;
    }

    
    .grid3-item4{
        grid-area: project4;
    }

   .grid3-item5{
        grid-area: project5;
    }

    .grid3-item6{
        grid-area: project6;
    }
    
}

    .footer{
        height: 20vh;
        flex-direction: row;
        align-items: center;
        
        &__nav{
            text-align: left;
            padding-left: 60px;
        }

        &__email{
            text-align: right;
            padding-right: 60px;
        }
    }

}