header {
  background-color: #0B3948;
  display: none;
}

.intro {
  height: 516px;
  padding: 20px;
}
.intro__greeting {
  font-size: 16px;
  padding: 30px 0;
}
.intro__image {
  width: 20px;
  padding-right: 5px;
}
.intro__image--large {
  display: none;
}
.intro__statement {
  font-size: 48px;
}

.about-grid {
  display: grid;
  grid-template-areas: "heading" "image" "paragraph1" "paragraph2";
}

.about-grid1 {
  grid-area: image;
  justify-self: center;
  width: 19rem;
  padding: 20px 0;
}

.about-grid2 {
  grid-area: heading;
  font-size: 32px;
  padding: 20px;
  text-align: center;
}

.about-grid3 {
  grid-area: paragraph1;
}

.about-grid4 {
  grid-area: paragraph2;
}

.about {
  padding: 20px;
}
.about__description {
  font-size: 16px;
  line-height: 2;
  width: 100%;
  padding: 10px;
}

.skills {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
}
.skills__title {
  padding: 20px;
  font-size: 32px;
  text-align: center;
}
.skills__description {
  padding: 20px;
  line-height: 2;
}
.skills__image {
  width: 3em;
}
.skills__caption {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

.grid-container {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 20px;
  gap: 35px;
  grid-template-areas: "spring-boot java react" "bem scss javascript" "css3 html5 git";
}

.grid-item1 {
  grid-area: git;
}

.grid-item2 {
  grid-area: html5;
}

.grid-item3 {
  grid-area: css3;
}

.grid-item4 {
  grid-area: javascript;
}

.grid-item5 {
  grid-area: scss;
}

.grid-item6 {
  grid-area: bem;
}

.grid-item7 {
  grid-area: react;
}

.grid-item8 {
  grid-area: java;
}

.grid-item9 {
  grid-area: spring-boot;
}

.grid-container3 {
  display: grid;
  justify-items: center;
  grid-template-areas: "project1" "project2" "project3";
}
.grid-container3 .grid3-item1 {
  grid-area: project1;
}
.grid-container3 .grid3-item2 {
  grid-area: project2;
}
.grid-container3 .grid3-item3 {
  grid-area: project3;
}

.projects__title {
  font-size: 32px;
  padding: 40px;
  text-align: center;
}
.projects__figure {
  width: 95%;
  padding: 20px;
}
.projects__skill {
  padding: 20px 0px 5px 0;
  font-size: 16px;
}
.projects__name {
  padding: 0 0 20px 0;
  font-size: 40px;
}
.projects__description {
  font-size: 16px;
  line-height: 2;
  padding-bottom: 20px;
}
.projects__button {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  width: 7rem;
  border: 2px solid #0B3948;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #0B3948;
  text-decoration: none;
}
.projects__button--image {
  height: 21px;
  width: 25%;
}

.footer {
  background-color: #0B3948;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.footer__image {
  width: 40px;
  height: auto;
  padding: 20px 0;
}
.footer__email {
  color: #EEEBD0;
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
    height: 100px;
    justify-content: space-between;
    padding: 20px 0;
    color: #EEEBD0;
  }
  .header__name {
    font-size: 24px;
    padding: 10px 20px;
  }
  .header__nav {
    display: inline-block;
    text-align: right;
    padding: 10px 20px;
  }
  .header__link {
    text-decoration: none;
    color: #EEEBD0;
    font-size: 20px;
    padding: 10px;
  }
  .header__link--button {
    font-size: 0.7rem;
    font-weight: bolder;
    border: solid 2px #EEEBD0;
    border-radius: 10px;
    background-color: #EEEBD0;
    color: #0B3948;
  }
  .intro {
    display: flex;
    justify-content: space-between;
    padding: 80px 0 0 0;
  }
  .intro__words {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
  }
  .intro__image--large {
    display: flex;
  }
  .about__description {
    text-align: left;
  }
  .about-grid {
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-template-areas: "image ." "image ." "image heading" "image paragraph1" "image paragraph2" "image ." "image .";
  }
  .about-grid .about-grid1 {
    grid-area: image;
    height: 40rem;
    place-self: center;
  }
  .about-grid .about-grid2 {
    grid-area: heading;
    text-align: left;
  }
  .about-grid .about-grid3 {
    grid-area: paragraph1;
  }
  .about-grid .about-grid4 {
    grid-area: paragraph2;
  }
  .grid-container {
    display: flex;
    justify-content: center;
  }
  .skills {
    justify-content: center;
    border: 50px;
  }
  .skills__description {
    padding: 20px 140px;
    text-align: center;
  }
  .skills__image {
    width: 3rem;
  }
  .projects {
    padding: 60px 10px;
    background-color: #EEEBD0;
    color: #0B3948;
  }
  .projects__figure {
    padding: 0;
  }
  .projects__skill {
    font-size: 15px;
  }
  .projects__name {
    font-size: 30px;
  }
  .projects__buttons {
    display: inline;
  }
  .projects .grid-container3 {
    display: grid;
    gap: 40px 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "project1 project2 project3" "project4 project5 project6";
  }
  .projects .grid3-item1 {
    grid-area: project1;
  }
  .projects .grid3-item2 {
    grid-area: project2;
  }
  .projects .grid3-item3 {
    grid-area: project3;
  }
  .projects .grid3-item4 {
    grid-area: project4;
  }
  .projects .grid3-item5 {
    grid-area: project5;
  }
  .projects .grid3-item6 {
    grid-area: project6;
  }
  .footer {
    height: 20vh;
    flex-direction: row;
    align-items: center;
  }
  .footer__nav {
    text-align: left;
    padding-left: 60px;
  }
  .footer__email {
    text-align: right;
    padding-right: 60px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #FFAFC5;
  color: #0B3948;
}/*# sourceMappingURL=main.css.map */