header {
  background-color: #EBF5EE;
  display: none;
}

.intro {
  height: 516px;
  padding: 20px;
}
.intro__greeting {
  font-size: 16px;
  padding: 30px 0;
}
.intro__image {
  width: 20px;
  padding-right: 5px;
}
.intro__image--large {
  display: none;
}
.intro__statement {
  font-size: 48px;
}

.about {
  padding: 20px;
  color: #EBF5EE;
}
.about__description {
  font-size: 16px;
  line-height: 2;
  width: 100%;
  padding: 10px;
}
.about__image {
  height: 30em;
  width: auto;
}
.about__grid {
  display: grid;
  grid-template-areas: "heading" "image" "paragraph1" "paragraph2";
}
.about__grid--item1 {
  grid-area: image;
  justify-self: center;
  width: 19rem;
  padding: 20px 0;
}
.about__grid--item2 {
  grid-area: heading;
  font-size: 32px;
  padding: 20px;
  text-align: center;
}
.about__grid--item3 {
  grid-area: paragraph1;
}
.about__grid--item4 {
  grid-area: paragraph2;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px;
  color: #EBF5EE;
}
.skills__title {
  padding: 20px;
  font-size: 32px;
  text-align: center;
}
.skills__description {
  padding: 10px;
  line-height: 2;
}
.skills__image {
  width: 3em;
}
.skills__caption {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}
.skills__grid {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 20px;
  gap: 35px;
  grid-template-areas: "spring-boot java react" "bem scss javascript" "css3 html5 git";
}
.skills__grid--item1 {
  grid-area: git;
}
.skills__grid--item2 {
  grid-area: html5;
}
.skills__grid--item3 {
  grid-area: css3;
}
.skills__grid--item4 {
  grid-area: javascript;
}
.skills__grid--item5 {
  grid-area: scss;
}
.skills__grid--item6 {
  grid-area: bem;
}
.skills__grid--item7 {
  grid-area: react;
}
.skills__grid--item8 {
  grid-area: java;
}
.skills__grid--item9 {
  grid-area: spring-boot;
}

.projects {
  color: #EBF5EE;
}
.projects__title {
  font-size: 32px;
  padding: 40px;
  text-align: center;
}
.projects__image {
  height: 12rem;
}
.projects__figure {
  width: 95%;
  padding: 20px;
}
.projects__skill {
  padding: 20px 0px 5px 0;
  font-size: 16px;
}
.projects__name {
  padding: 0 0 20px 0;
  font-size: 40px;
}
.projects__description {
  font-size: 16px;
  line-height: 2;
  padding-bottom: 20px;
}
.projects__button {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  width: 7rem;
  border: 2px solid #EBF5EE;
  padding: 10px 10px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #EBF5EE;
  text-decoration: none;
}
.projects__button__grid {
  display: grid;
  justify-items: center;
  grid-template-areas: "project1" "project2" "project3" "project4" "project5" "project6";
  grid-template-rows: repeat(6, 1fr);
}
.projects__button__grid--item1 {
  grid-area: project1;
}
.projects__button__grid--item2 {
  grid-area: project2;
}
.projects__button__grid--item3 {
  grid-area: project3;
}
.projects__button__grid--item4 {
  grid-area: project4;
  display: none;
}
.projects__button__grid--item5 {
  grid-area: project5;
  display: none;
}
.projects__button__grid--item6 {
  grid-area: project6;
  display: none;
}
.projects__button--image {
  height: 21px;
  width: 25%;
}

.footer {
  background-color: #EBF5EE;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #6B2737;
}
.footer__image {
  width: 40px;
  height: auto;
  padding: 20px 0;
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .header__name {
    font-size: 24px;
    color: #6B2737;
  }
  .header__nav {
    display: inline-block;
    text-align: right;
  }
  .header__link {
    color: #6B2737;
    text-decoration: none;
    font-size: 20px;
    padding: 0 10px;
  }
  .header__link--button {
    display: inline;
    font-size: 0.7rem;
    padding: 10px;
    font-weight: bolder;
    border: solid 2px #6B2737;
    border-radius: 10px;
    color: #6B2737;
  }
  .intro {
    display: flex;
    justify-content: space-around;
    padding: 80px 0;
  }
  .intro__words {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-left: 40px;
  }
  .intro__image--large {
    display: flex;
    align-items: center;
  }
  .about {
    color: #EBF5EE;
    padding: 20px 10px;
  }
  .about__description {
    text-align: left;
  }
  .about__image {
    height: 75%;
    width: 22em;
    padding: 40px;
  }
  .about__grid {
    display: grid;
    padding-right: 10px;
    grid-template-columns: 40% 1fr;
    grid-template-areas: "image ." "image ." "image heading" "image paragraph1" "image paragraph2" "image ." "image .";
  }
  .about__grid--item1 {
    grid-area: image;
    height: 40rem;
    place-self: center;
  }
  .about__grid--item2 {
    grid-area: heading;
    text-align: left;
  }
  .about__grid--item3 {
    grid-area: paragraph1;
    padding: 20px;
  }
  .about__grid--item4 {
    grid-area: paragraph2;
    padding: 20px;
  }
  .skills {
    justify-content: center;
    border: 50px;
    color: #EBF5EE;
  }
  .skills__description {
    padding: 20px 100px;
    text-align: center;
  }
  .skills__image {
    width: 3rem;
  }
  .skills__grid {
    justify-content: center;
    grid-template-columns: repeat(5%, 9);
    grid-template-areas: "spring-boot java react bem scss javascript css3 html5 git";
  }
  .projects {
    padding: 60px 20px;
    color: #EBF5EE;
  }
  .projects__figure {
    padding: 0;
  }
  .projects__skill {
    font-size: 15px;
  }
  .projects__name {
    font-size: 30px;
  }
  .projects__description {
    font-size: 12px;
  }
  .projects__button {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    width: 49%;
  }
  .projects__grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "project1 project2 project3" "project4 project5 project6";
  }
  .footer {
    height: 17vh;
    flex-direction: row;
    align-items: center;
  }
  .footer__nav {
    text-align: left;
    padding-left: 60px;
  }
  .footer__email {
    text-align: right;
    padding-right: 60px;
  }
}
@media screen and (min-width: 1024px) {
  .about__description {
    font-size: 16px;
  }
  .skills__description {
    font-size: 20px;
  }
  .projects__description {
    font-size: 18px;
  }
  .projects__button {
    width: 7rem;
  }
}
@media screen and (min-width: 1440px) {
  .projects__button {
    width: 6rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #6B2737;
  color: #EBF5EE;
}/*# sourceMappingURL=main.css.map */